.red {
    background-color: #EC7063;
}
.purple {
    background-color: #AF7AC5;
}
.green {
    background-color: #58D68D;
}
.yellow {
    background-color: #F4D03F;
}
.orange {
    background-color: #F5B041;
}
.blue {
    background-color: #5DADE2;
}